{% extends "carrentapp/base.html" %}
{% block title %}Profil użytkownika{% endblock title %}
{% block section_one%}

    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
        <div class="container">
            <div class="row justify-content-center">
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5 p-2 bg-light border" >
                    <div class="form-group">
                        <label class="small mb-1">Email:</label>
                            {{ user_form.email }}
                        <label class="small mb-1">Użytkownik:</label>
                            {{ user_form.username }}
                        <label class="small mb-1">Imię:</label>
                            {{ user_form.first_name }}
                         <label class="small mb-1">Nazwisko:</label>
                            {{ user_form.last_name }}
                         <label class="small mb-1">Data urodzenia:</label>
                            {{ user_form.birthdate }}
                         <label class="small mb-1">Miasto:</label>
                            {{ user_form.addr_city }}
                        <label class="small mb-1">Ulica:</label>
                            {{ user_form.addr_street }}
                        <label class="small mb-1">Kod pocztowy:</label>
                            {{ user_form.addr_post_code }}
                         <label class="small mb-1">Numer telefonu:</label>
                            {{ user_form.mobile_nr }}

                    </div>
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">Zapisz zmiany</button>
            <button type="reset" class="btn btn-dark btn-lg">Anuluj</button>
            <a href="{% url 'password_change' %}" class="btn btn-dark btn-lg" role="button">Zmień hasło</a>
        </form>
            </div>
                   </div>
               </div>

{% endblock %}