{% extends 'carrentapp/base.html' %}

{% block section_one %}
<main>
 <section class="top-hero aboutus-hero">
    <p class="top-hero-text text-light">Kim jesteśmy</p>
    <div class="hero-shadow"></div>
</section>

<section class="aboutus-top py-5">
    <div class="container py-5">
        <p class="display-3 text-uppercase">
            <i class="fa-solid fa-car text-primary"> SDA</i>
        </p>
        <p>SDA w drodze do doskonałości</p>
        <p>Jesteśmy wypożyczalnią samochodów stawiającą na rozwój i nieustanne doskonalenie.
            Wierzymy w nasz potencjał. Z każdym miesiącem chcemy dostarczać naszym klientom wartości
            dodanej do ich biznesu.  Specjalizujemy się w wynajmie samochodów osobowych i dostawczych.

Dysponujemy rozbudowaną flotą, bogatą w nowoczesne modele. Współpracujemy z klientem biznesowym i indywidualnym.
                    Zapewniamy wsparcie i kompleksową obsługę, doradzamy i wspieramy naszych partnerów na każdym
                    etapie wspólnej „drogi”. Wynajem samochodów odbywa się na warunkach korzystnych dla obu stron.
                    Staramy się być elastyczni, aby sprostać oczekiwaniom najbardziej wymagających klientów.</p>
    </div>
</section>

<section class="aboutus-info aboutus-shadow border-top border-bottom">
    <div class="container">
        <div class="row m-0 justify-content-center">

            <div class="col-lg-3 aboutus-text aboutus-text-left">
                <h3>Nasza pasja</h3>
                <p>Poznaliśmy się jako paczka znajomych ze studiów. Nie było nas stać na kupno samochodu ani kredyt,
                    a bardzo chcieliśmy podróżować. Stąd narodził się pomysł, aby pomoc innym.</p>
            </div>

            <img src="../../static/carrentapp/images/usciskdloni.jpg" alt="dlonie" class="d-lg-none aboutus-img">

            <img src="../../static/carrentapp/images/usciskdloni.jpg" alt="dlonie"
                class="d-none d-lg-block col-lg-4 aboutus-img">

            <div class="col-lg-3 aboutus-text aboutus-text-right">
                <h3>Nasze cele</h3>
                <p>Kiedy umożliwimy podróżowanie w komfortowych warunkach dla każdego osiągniemy nasz cel.
                Misją SDA jest zapewnienie mobilności każdemu, kto jej potrzebuje, niezależnie od pory dnia,
                    sytuacji oraz miejsca. Chcemy, aby każdy bez przeszkód mógł cieszyć się niezależnością,
                    którą daje mobilność. Dążymy do tego, aby dawać Klientom poczucie bezpieczeństwa, skracać
                    dystans i oszczędzać czas, dbając przede wszystkim o dostępność, elastyczność i wysoką
                    jakość naszych usług.</p>
            </div>
        </div>
    </div>
</section>
</main>
<div style="height:150vh"></div>
{% endblock %}