{% extends 'carrentapp/base.html' %}
{% load static %}

{% block section_one %}


<style>
table, th, td {
  border: 1px solid black;
}
</style>


<h1 id="detailheader"> {{  car.brand }} {{ car.car_model }} </h1>
<img id="detailimage" src="{{ car.car_image.url }}" alt="{{ car.color }} samochod">

    <div style="height: auto; width: 35%">
    <table id="detailtable">

      <tr>
        <td>Moc KM</td>
        <td>{{ car.engine_power }}</td>
      </tr>
      <tr>
        <td>Silnik</td>
        <td>{{ car.engine_type }}</td>
      </tr>
      <tr>
        <td>Skrzynia biegów</td>
        <td>{{ car.gearbox_type }}</td>
      </tr>
      <tr>
        <td>Kolor</td>
        <td>{{ car.color }}</td>
      </tr>
      <tr>
        <td>Liczba miejsc</td>
        <td>{{ car.number_of_seats }}</td>
      </tr>
      <tr>
        <td>Rok produkcji</td>
        <td>{{ car.year_of_production }}</td>
      </tr>

    </table>
    <a id="orderbutton" href="{% url 'order' car.id %}" class="btn btn-primary">Rezerwuj</a>

</div>
<div style="height:100vh"></div>
</div>
{% endblock %}




