{% extends 'carrentapp/base.html' %}
{% load static %}
{% block section_one %}

<section class="top-hero projects-hero">
    <p class="top-hero-text text-light">Nasza flota</p>
    <div class="hero-shadow"></div>
</section>


<section class="py-5 projects mb-5">
    <div class="container text-center py-5">
        <p class="display-3">Sprawdź nasze samochody</p>
        <p>Każdy z naszych samochodów jest wyjątkowy. Łączy je jedno: są niezawodne!</p>
    </div>
</section>


 <section class="py-5 projects mb-5">
      <div class="row">
          {% for car in car_list %}

<div class="col-md-6 col-lg-4">
    <div class="card mb-3">
        <a href ="{% url 'car_detail' car.id %}"><img src="{{ car.car_image.url }}"></a>
        <div class="card-body">
            <p class="p-3">
                <table class="table table-responsive table-bordered table-hover table-striped table-dark">
                    <tr>
                        <td>Marka</td>
                        <td>{{ car.brand }}</td>
                    </tr>
                    <tr>
                        <td>Model</td>
                        <td>{{ car.car_model }}</td>
                    </tr>
                    <tr>
                        <td>Skrzynia biegów</td>
                        <td>{{ car.gearbox_type }}</td>
                    </tr>
                    <tr>
                        <td>Liczba miejsc</td>
                        <td>{{ car.number_of_seats }}</td>
                    </tr>
                </table>
            </p>
            <div class="d-flex align-items-center justify-content-between">
                <a href="{% url 'car_detail' car.id %}" class="btn btn-outline-dark px-4" role="button">Wypożycz</a>
            </div>
        </div>
    </div>
</div>

{% endfor %}
</section>
<div style="height:50vh"></div>
{% endblock %}
