{% extends 'carrentapp/base.html' %}

{% block section_one %}
<div style="height:25vh"></div>

    <section id="contact" class="contact bg-dark text-light py-5">
          <div class="col-lg-12 mt-4 m-lg-0 contact-info">
            <h3>Adres:</h3>
            <p class="orange-color">SDA Wypożyczalnia</p>
            <p><i class="bi bi-geo-alt orange-color"></i> ul. Samochodowa 235<br> 12-345 Warszawa</p>
            <p><i class="bi bi-phone orange-color"></i>+48 123 456 789</p>
            <p><i class="bi bi-at orange-color"></i> wypozyczalniasda@sda.pl</p>
          </div>

    </section>

<div style="height:100vh"></div>

{% endblock %}