* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255,255,255);
    font-size: 1.6rem;
}
.nav-link {
font-size: 1.2rem;
text-transform: uppercase;
}

.home {
	position: relative;
	height: 50rem;
	background-image: url('../images/usciskdloni.jpg');
	background-size: cover;
	background-position: center;
	z-index: 0;
}

.home .btn {
	padding: 1em 2em;
	font-size: 1.4rem;
	text-transform: uppercase;
}

.home .welcome-text {
	font-size: 2.2rem;
}

.top-hero {
	position: relative;
	height: 200px;
	background-size: cover;
	z-index: 0;
}

.top-hero-text {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 2rem;
	text-transform: uppercase;
}


.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -1;
}

.view {
height: 1vh;
}

.aboutus-box h3 {
	font-size: 2 rem ;
	font-weight: bold;
	text-transform: uppercase;
}

.aboutus-icon {
	font-size: 3rem;
}

.contact h3 {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.carouselCar {
	font-size: 2rem;
}

.carousel-item {
	position: relative;
	height: 600px;
	background-position: center;
	background-size: cover;
	z-index: 0;
}

.carousel-img-one {
	background-image: url('../images/main-carousel-1.jpg');
}
.carousel-img-two {
	background-image: url('../images/main-carousel-2.jpg');
}
.carousel-img-three {
	background-image: url('../images/main-carousel-3.jpg');
}


.aboutus-hero {
	background-image: url('../images/autostrada.jpg');
	background-position: bottom;
}

.aboutus-info {
	background-color: rgb(248, 248, 248);
}

.aboutus-info .container {
	padding: 2em 0.5em;
}

.aboutus-text {
	padding: 1.8em;
}

.aboutus-text h3 {
	margin-bottom: 0.5em;
	font-size: 2.6rem;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: underline #007bff;
}

.aboutus-text-right {
	text-align: right;
}

.aboutus-img {
	height: 300px;
	object-fit: cover;
}
.car_view {
	display: flex;
	justify-content: center;
	align-items: center;

}

@media (min-width: 992px) {
	.aboutus-info .container {
		padding: 0;
	}

	.aboutus-shadow {
		box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.4);
	}

	.aboutus-text {
		padding: 5em 0;
	}

	.aboutus-text-left {
		padding-right: 2em;
		text-align: right;
	}

	.aboutus-text-right {
		padding-left: 2em;
		text-align: left;
	}

	.aboutus-img {
		height: auto;
	}
}

.projects-hero {
    background-position: center;
}

.projects img {
    height: 240px;
    object-fit: cover;
}

.projects .btn {
    font-size: 2rem;
    text-transform: uppercase;
}
footer {
	font-size: 1.6rem;
}

#contact {
text-align: center;
background-position: center;
justify-content: center;
align-items: center;
}
#header
{
  height: 80px;
  text-align: center;
  padding-top:20px;
  padding-bottom:20px;
}

#content{
	margin-bottom: 5%;
}

#section_one{
  size: auto;
  margin-bottom: 10%;
}
#section_two{
	margin-bottom: 10%;
}
#section_three{
	margin-bottom: 10%;
}

#carobject{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 0.2 vw;

}

#carlisttable{
  width: 40%;
  margin-left: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: 15px;
  font-weight: bold;
}

#carlistphoto{
  vertical-align: top;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 2%;
  width: 55%;
}

#detailheader{
  margin-left: 2%;
  font-size: 50px;
}

#detailtable
{ float: top;
  width: 25%;
  margin: 1%;
  font-size: 25px;
  font-weight: bold;
}

#detailimage{
  float: right;
  float: top;
  align-self: auto;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 50%;
}

#orderbutton{
  float: bottom;
  margin: 2%;
}


